%flex-container-base {
  display: flex;
  height: 100%;
  width: 100%;
}

%one-em-bold {
  font-family: $font__display;
  font-size: 1em;
  font-weight: 700;

  @include media-breakpoint-up(md) {
    font-size: 1.25em;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.5em;
  }
}

%one-em-light {
  font-size: 1em;
  font-weight: 300;

  @include media-breakpoint-up(md) {
    font-size: 1.25em;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.5em;
  }
}

%text--light {
  color: $color__v8ch-light-green;
}

%text--dark {
  color: $color__v8ch-xdark-green;
}

%two-em-bold {
  font-family: $font__display;
  font-size: 2em;
  font-weight: 700;

  @include media-breakpoint-up(md) {
    font-size: 2.5em;
  }

  @include media-breakpoint-up(xl) {
    font-size: 4em;
  }
}