h2 {
  font-family: $font__display;
}

h3 {
  @extend %two-em-bold;
}

h4 {
  @extend %one-em-bold;
}

h5 {
  @extend %one-em-light;
}

label {
  color: $color__v8ch-xdark-green;
  font-family: $font__display;
}