.bg-medium {
  background-color: $color__v8ch-green;
}

// Augment Bootstrap style
.text-light {
  & a {
    color: $color__v8ch-light-green;
  }
}

.v8ch-dark-green {
  color: $color__v8ch-dark-green;
}
