$color__v8ch-xlight-green: #f6ffeb;
$color__v8ch-light-green: #dcedc8;
$color__v8ch-green: #adf083;
$color__v8ch-dark-green: #4f6d3c;
$color__v8ch-xdark-green: #354a28;

$font__display: 'Lato', sans-serif;
$font__fixed: 'Roboto Mono', monospace;
