@import "~normalize-scss/sass/normalize";
@import "bootstrap/bootstrap";
@import "placeholders";
@import "typography";
@import "utilities";
@import "variables";
@import "components/content-block";
@import "components/footer-header";
@import "components/hero";
@import "components/list";
@import "components/nav";
@import "components/submit-feedback";

.container {
  padding: 1em;
}

label {
  display: inline-block;
  margin-bottom: $label-margin-bottom;

  @include media-breakpoint-up(md) {
    font-size: 1.25em;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.5em;
  }
}
