@import "~normalize-scss/sass/normalize";
@import "bootstrap/bootstrap";
@import "placeholders";
@import "typography";
@import "utilities";
@import "variables";
@import "components/article";
@import "components/content-block";
@import "components/footer-header";
@import "components/hero";
@import "components/images";
@import "components/list";
@import "components/nav";
@import "components/syntax";
@import "components/submit-feedback";

.container {
  max-width: 1600px;
  padding: 1em;

  @include media-breakpoint-up(md) {
    margin: auto;
  }
}

label {
  display: inline-block;
  margin-bottom: $label-margin-bottom;

  @include media-breakpoint-up(md) {
    font-size: 1.25em;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.5em;
  }
}

.social-icons {
  & > :not(:last-child) {
    margin: 0 1em 0 0;
  }
}
