.markdown-preview {
  background-color: $color__v8ch-xlight-green;
  border-bottom: 2px solid $color__v8ch-dark-green;
  padding: 1em;

  &.is-invalid {
    border-bottom: 2px solid $danger;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $font__display;
    line-height: 1.2;
    margin: 0 0 0.5rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }
}
