%one-em-medium-lower {
  font-size: 1em;
  font-weight: 600;
  text-transform: lowercase;
}

%one-em-thin-lower {
  font-size: 1em;
  font-weight: 300;
  text-transform: lowercase;
}

%two-em-medium-upper {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
}